@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h4,
h4 {
  font-family: 'PT Serif';
}
p {
  font-family: 'Open Sans';
}
.header {
  margin: 1.5rem 0;
}
.header-links {
  text-align: center;
}
.header-links a {
  margin: 0 2rem;
  color: #AFAFAF;
  padding-bottom: 1.5rem;
}
.header-links a:hover {
  color: #BA8E7A;
  text-decoration: none;
  border-bottom: 2px solid #BA8E7A;
}
.first {
  position: relative;
  background: linear-gradient(118.36deg, #e1f0b7 33.25%, #bad794 68.07%, #cce2a8 96.16%);
}
.first-photo {
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
  width: 100%;
}
.first-photo img {
  width: 100%;
}
.first-text {
  padding-top: 4rem;
  width: 50%;
  margin-left: 15%;
}
.first-text h1 {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px rgba(160, 187, 124, 0.8);
}
.first-scroll {
  margin-left: 15%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: rgba(161, 167, 153, 0.3);
  cursor: pointer;
}
.first-scroll .go-down {
  width: 42px;
  height: 42px;
  border-radius: 25px;
  font: normal normal 42px/42px fantasy;
  text-align: center;
}
.first-bg {
  position: absolute;
  bottom: 0;
  right: 0;
}
.rellax1 {
  position: relative;
}
.rellax1 .one,
.rellax1 .two,
.rellax1 .three {
  position: absolute;
}
.rellax1 .one {
  -webkit-transform: translate3d(-4rem, -22rem, 0);
          transform: translate3d(-4rem, -22rem, 0);
}
.rellax1 .two {
  -webkit-transform: translate3d(-20rem, -12rem, 0);
          transform: translate3d(-20rem, -12rem, 0);
}
.rellax1 .three {
  -webkit-transform: translate3d(-17rem, -6rem, 0);
          transform: translate3d(-17rem, -6rem, 0);
}
.about {
  margin: 8rem 0 8rem 0;
}
.about-text {
  font-size: 15px;
}
.about-line {
  color: #AFAFAF;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
  padding-top: 1rem;
  border-top: 3px solid #C6E4AC;
}
.photo {
  position: relative;
}
.photo img {
  width: 90%;
}
.photo .one,
.photo .two,
.photo .three,
.photo .four {
  position: absolute;
}
.photo .one {
  -webkit-transform: translate3d(8rem, -12rem, 0);
          transform: translate3d(8rem, -12rem, 0);
}
.photo .two {
  -webkit-transform: translate3d(3rem, 24rem, 0);
          transform: translate3d(3rem, 24rem, 0);
}
.photo .three {
  margin-left: 6rem;
  margin-top: 6rem;
}
.photo .four {
  top: 0;
  left: 0;
}
.rellax2 {
  position: relative;
  margin-left: -20rem;
  margin-bottom: -8rem;
}
.rellax2 .one,
.rellax2 .two {
  position: absolute;
  z-index: 1;
}
.rellax3 {
  position: relative;
}
.rellax3 .one,
.rellax3 .two {
  position: absolute;
}
.rellax3 .one {
  -webkit-transform: translate3d(-35rem, 35rem, 0);
          transform: translate3d(-35rem, 35rem, 0);
}
.rellax3 .two {
  -webkit-transform: translate3d(-37rem, 50rem, 0);
          transform: translate3d(-37rem, 50rem, 0);
}
.no-diw {
  width: 100%;
  margin-top: 50rem;
}
.firstQuestion,
.secondQuestion,
.thirdQuestion,
.fourthQuestion,
.fifthQuestion,
.sixthQuestion,
.seventhQuestion {
  margin-top: 2rem;
}
.firstQuestion h1,
.secondQuestion h1,
.thirdQuestion h1,
.fourthQuestion h1,
.fifthQuestion h1,
.sixthQuestion h1,
.seventhQuestion h1 {
  font-size: 22px;
  color: #282828;
  margin-bottom: 1rem;
}
.firstQuestion p,
.secondQuestion p,
.thirdQuestion p,
.fourthQuestion p,
.fifthQuestion p,
.sixthQuestion p,
.seventhQuestion p {
  font-size: 15px;
}
.fourthQuestion {
  margin-bottom: 6rem;
}
.rellax4 {
  position: relative;
}
.rellax4 .one {
  position: absolute;
  -webkit-transform: translate3d(32rem, 0, 0);
          transform: translate3d(32rem, 0, 0);
}
.rellax4 .two {
  position: absolute;
  -webkit-transform: translate3d(32rem, 0, 0);
          transform: translate3d(32rem, 0, 0);
}
.video-box {
  margin-bottom: 6rem;
}
.video {
  margin: auto;
  width: 100vw;
  height: 43vw;
}
.rellax5 {
  position: relative;
  top: 40%;
  right: -30%;
}
.rellax5 .one,
.rellax5 .two {
  position: absolute;
}
.rellax6 {
  position: relative;
  top: -12rem;
  left: -50%;
}
.rellax6 .one {
  position: absolute;
  z-index: 1;
}
.photo2 {
  padding: 6rem 0 28rem 0;
  background: linear-gradient(62.43deg, #cea995 13.77%, #e7baa3 51.33%, #f0cdb7 91.19%);
  margin-top: 4rem;
}
.photo2 img,
.photo2 h1 {
  width: 100%;
}
.photo2 h1 {
  font-size: 34px;
  text-shadow: 0px 1px 2px rgba(181, 143, 124, 0.8);
  color: white;
}
.photo2-first {
  position: absolute;
}
.photo2-second {
  position: absolute;
  -webkit-transform: translate3d(20rem, 20rem, 0);
          transform: translate3d(20rem, 20rem, 0);
}
.photo2-bg {
  position: absolute;
  -webkit-transform: translate3d(46rem, 18rem, 0);
          transform: translate3d(46rem, 18rem, 0);
}
.photo2-fourth {
  position: absolute;
  -webkit-transform: translate3d(26rem, 5rem, 0);
          transform: translate3d(26rem, 5rem, 0);
}
.photo2 .text,
.photo2 .circle {
  position: absolute;
  -webkit-transform: translate3d(-14rem, 0, 0);
          transform: translate3d(-14rem, 0, 0);
}
.photo2 .circle {
  margin-left: -4rem;
  padding: 0 1rem;
  border: 1px solid #C6E4AC;
  border-radius: 50%;
  background-color: #C6E4AC;
}
@media (max-width: 575.98px) {
  .header-logo {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .header-links {
    margin: 0 -2rem;
  }
  .header-links a {
    margin: 0 0.2rem;
  }
  .rellax1 {
    -webkit-transform: translate3d(0, 4rem, 0);
            transform: translate3d(0, 4rem, 0);
  }
  .photo {
    margin-top: -4rem !important;
  }
  .photo img {
    width: 105%;
  }
  .photo .one {
    -webkit-transform: translate3d(8rem, -8rem, 0);
            transform: translate3d(8rem, -8rem, 0);
    margin-left: -9rem;
    margin-top: 8rem;
  }
  .photo .two {
    -webkit-transform: translate3d(3rem, 10rem, 0);
            transform: translate3d(3rem, 10rem, 0);
    margin-top: -4rem;
    margin-left: -4rem;
  }
  .photo .three {
    margin-left: -1rem;
    margin-top: 11rem;
  }
  .photo .four {
    top: 50%;
    left: 0;
    width: 70%;
    margin-left: 1rem;
    margin-top: 0rem !important;
  }
  .about {
    margin: 8rem 0 20rem 0;
  }
  .for-rellax2 {
    margin-left: -12rem;
    -webkit-transform: translateY(-12rem);
            transform: translateY(-12rem);
  }
  .for-rellax3 {
    margin-left: 20rem;
  }
  .for-rellax4 .two {
    display: none;
  }
  .forMinDevices {
    margin-left: -20rem;
  }
  .photo2 {
    padding: 6rem 0 68rem 0;
  }
  .photo2-second {
    position: absolute;
    -webkit-transform: translate3d(3rem, 60rem, 0);
            transform: translate3d(3rem, 60rem, 0);
  }
  .photo2-bg {
    position: absolute;
    -webkit-transform: translate3d(8.2rem, 58.7rem, 0);
            transform: translate3d(8.2rem, 58.7rem, 0);
  }
  .photo2-fourth {
    position: absolute;
    -webkit-transform: translate3d(1rem, 40rem, 0);
            transform: translate3d(1rem, 40rem, 0);
  }
  .photo2 .text,
  .photo2 .circle {
    position: absolute;
    -webkit-transform: translate3d(5rem, 26rem, 0);
            transform: translate3d(5rem, 26rem, 0);
  }
  .photo2 h1 {
    font-size: 27px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-logo {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .header a {
    margin: 0 1rem;
  }
  .first-photo {
    margin-bottom: 3rem;
  }
  .first-text {
    margin-bottom: 5rem;
  }
  .first-scroll {
    margin-bottom: 6rem;
  }
  .rellax1 {
    margin-right: -4rem;
  }
  .about-text {
    margin-bottom: 3rem;
  }
  .photo {
    margin-top: 12rem;
  }
  .photo .four {
    margin-top: -8rem;
  }
  .about {
    margin: 8rem 0 8rem 0;
  }
  .rellax2 {
    -webkit-transform: translate3d(15rem, 12rem, 0);
            transform: translate3d(15rem, 12rem, 0);
  }
  .for-rellax4 {
    margin-left: -14rem;
  }
  .photo2 {
    padding: 6rem 0 82rem 0;
  }
  .photo2-second {
    position: absolute;
    -webkit-transform: translate3d(8rem, 74rem, 0);
            transform: translate3d(8rem, 74rem, 0);
  }
  .photo2-bg {
    position: absolute;
    -webkit-transform: translate3d(15rem, 72rem, 0);
            transform: translate3d(15rem, 72rem, 0);
  }
  .photo2-fourth {
    position: absolute;
    -webkit-transform: translate3d(2rem, 53rem, 0);
            transform: translate3d(2rem, 53rem, 0);
  }
  .photo2 .text,
  .photo2 .circle {
    position: absolute;
    -webkit-transform: translate3d(5rem, 42rem, 0);
            transform: translate3d(5rem, 42rem, 0);
  }
  .photo2 h1 {
    font-size: 27px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header a {
    margin: 0 0.5rem;
  }
  .first-text {
    width: 90%;
    margin-left: 5%;
  }
  .rellax1 .one {
    -webkit-transform: translate3d(-4rem, -10rem, 0);
            transform: translate3d(-4rem, -10rem, 0);
  }
  .rellax1 .two {
    -webkit-transform: translate3d(-20rem, -6rem, 0);
            transform: translate3d(-20rem, -6rem, 0);
  }
  .rellax1 .three {
    -webkit-transform: translate3d(-17rem, -6rem, 0);
            transform: translate3d(-17rem, -6rem, 0);
  }
  .photo .one {
    -webkit-transform: translate3d(8rem, -8rem, 0);
            transform: translate3d(8rem, -8rem, 0);
  }
  .photo .two {
    margin-top: -4rem;
  }
  .rellax2 {
    margin-left: -15rem;
  }
  .rellax3 {
    margin-right: -15rem;
    margin-top: -6rem;
  }
  .rellax4 {
    margin-left: -10rem;
  }
  .photo2 {
    padding: 6rem 0 16.5rem 0;
  }
  .photo2-second {
    position: absolute;
    -webkit-transform: translate3d(16rem, 14rem, 0);
            transform: translate3d(16rem, 14rem, 0);
  }
  .photo2-bg {
    position: absolute;
    -webkit-transform: translate3d(31rem, 12rem, 0);
            transform: translate3d(31rem, 12rem, 0);
  }
  .photo2-fourth {
    position: absolute;
    -webkit-transform: translate3d(20rem, 5rem, 0);
            transform: translate3d(20rem, 5rem, 0);
  }
  .photo2 .text,
  .photo2 .circle {
    position: absolute;
    -webkit-transform: translate3d(-9rem, 0, 0);
            transform: translate3d(-9rem, 0, 0);
  }
  .photo2 h1 {
    font-size: 27px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .first-text {
    width: 80%;
  }
  .rellax1 .one {
    -webkit-transform: translate3d(-4rem, -14rem, 0);
            transform: translate3d(-4rem, -14rem, 0);
  }
  .rellax1 .two {
    -webkit-transform: translate3d(-20rem, -6rem, 0);
            transform: translate3d(-20rem, -6rem, 0);
  }
  .rellax1 .three {
    -webkit-transform: translate3d(-17rem, -6rem, 0);
            transform: translate3d(-17rem, -6rem, 0);
  }
  .photo .two {
    -webkit-transform: translate3d(3rem, 22rem, 0);
            transform: translate3d(3rem, 22rem, 0);
  }
  .about {
    margin: 8rem 0 12rem 0;
  }
  .rellax2 {
    margin-bottom: -4rem;
  }
  .rellax3 .one {
    -webkit-transform: translate3d(-30rem, 25rem, 0);
            transform: translate3d(-30rem, 25rem, 0);
  }
  .rellax3 .two {
    -webkit-transform: translate3d(-32rem, 30rem, 0);
            transform: translate3d(-32rem, 30rem, 0);
  }
  .rellax4 .one {
    -webkit-transform: translate3d(24rem, -12rem, 0);
            transform: translate3d(24rem, -12rem, 0);
  }
  .rellax4 .two {
    -webkit-transform: translate3d(24rem, -12rem, 0);
            transform: translate3d(24rem, -12rem, 0);
  }
  .photo2-second {
    position: absolute;
    -webkit-transform: translate3d(16rem, 20rem, 0);
            transform: translate3d(16rem, 20rem, 0);
  }
  .photo2-bg {
    position: absolute;
    -webkit-transform: translate3d(34rem, 18rem, 0);
            transform: translate3d(34rem, 18rem, 0);
  }
  .photo2-fourth {
    position: absolute;
    -webkit-transform: translate3d(22rem, 5rem, 0);
            transform: translate3d(22rem, 5rem, 0);
  }
  .photo2 .text,
  .photo2 .circle {
    position: absolute;
    -webkit-transform: translate3d(-11rem, 0, 0);
            transform: translate3d(-11rem, 0, 0);
  }
}
