.form {
	width: 225px;
	height: 260px;
	border: 0.5px solid #01b3b3;
	margin-left: 86px;
	margin-top: 70px;
}

.email {
	margin-top: 35px;
	margin-left: 22px;
	font-size: 9px;
}

.formInput1 {
	margin-left: 17px;
	margin-top: -4px;

}

.formInput1 input {
	margin-left: 5px;
	font-size: 8px;
	font-style: italic;
	height: 23px;
	width: 182px;
}

.password {
	margin-top: 8px;
	margin-left: 22px;
	font-size: 9px;
}

.formInput2 {
	margin-left: 20px;
	margin-top: -3px;
	}

.formInput2 input {
	height: 23px;
	width: 184px;
}	

.confirm {
	margin-top: 10px;
	margin-left: 22px;
	font-size: 9px;
}

.formInput3 {
	margin-left: 20px;
	margin-top: -3px;
	}

.formInput3 input {
	height: 23px;
	width: 184px;
}	

.btn {
	margin-top: 9px;
	margin-left: 4px;
}

.btn button {
	width: 184px;
	height: 31px;
	font-size: 12px;
	background-color: #01b3b3;
}

.nameOfForm {
	width: 100px; 
	height: 17px;
	border: 1px solid #01b3b3;
	background-color: #01b3b3;
	font-size: 8px; 
	font-style: uppercase;
	z-index: 1;
	position: absolute;
	top: 68px;
	left: 112px;

}

.text {
	margin-top: 2px;
	color: white;
	text-align: center;
}
