@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {
  
}

@media (max-width: 991.98px) { 
  .rellax2 {
    margin-left: -15rem;
  }
 }

@media (max-width: 1199.98px) {
  .rellax4 {
    .one {
     transform: translate3d(24rem,-12rem,0);
    }
    .two {
     transform: translate3d(24rem,-12rem,0);
    }
  }
}

//===================================
.rellax4 {
  position: relative;
  .one {
    position: absolute;
    transform: translate3d(32rem,0,0);
  }
  .two {
    position: absolute;
    transform: translate3d(32rem,0,0);
  }
}
