@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {
  .photo2 {
    padding: 6rem 0 82rem 0;
    &-second {
      position: absolute;
      transform: translate3d(8rem,74rem,0);
    }
    &-bg {
      position: absolute;
      transform: translate3d(15rem,72rem,0);
    }
    &-fourth {
      position: absolute;
      transform: translate3d(2rem,53rem,0);
    }
    .text, .circle {
      position: absolute;
      transform: translate3d(5rem,42rem,0);
    }
    h1 {
      font-size: 27px;
    }
  }
}

@media (max-width: 991.98px) { 
  .photo2 {
    padding: 6rem 0 16.5rem 0;
    &-second {
      position: absolute;
      transform: translate3d(16rem,14rem,0);
    }
    &-bg {
      position: absolute;
      transform: translate3d(31rem,12rem,0);
    }
    &-fourth {
      position: absolute;
      transform: translate3d(20rem,5rem,0);
    }
    .text, .circle {
      position: absolute;
      transform: translate3d(-9rem,0,0);
    }
    h1 {
      font-size: 27px;
    }
  }
 }

@media (max-width: 1199.98px) {
  .photo2{
    &-second {
      position: absolute;
      transform: translate3d(16rem,20rem,0);
    }
    &-bg {
      position: absolute;
      transform: translate3d(34rem,18rem,0);
    }
    &-fourth {
      position: absolute;
      transform: translate3d(22rem,5rem,0);
    }
    .text, .circle {
      position: absolute;
      transform: translate3d(-11rem,0,0);
    }
   }
}

//===================================

.photo2 {
  
  padding: 6rem 0 28rem 0;
  background: linear-gradient(62.43deg, #CEA995 13.77%, #E7BAA3 51.33%, #F0CDB7 91.19%);
  margin-top: 4rem;
  img, h1 {
    width: 100%;
  }
  h1 {
    font-size: 34px;
    text-shadow: 0px 1px 2px rgba(181, 143, 124, 0.8);
    color: white;
  }
  &-first {
    position: absolute;
  }
  &-second {
    position: absolute;
    transform: translate3d(20rem,20rem,0);
  }
  &-bg {
    position: absolute;
    transform: translate3d(46rem,18rem,0);
  }
  &-fourth {
    position: absolute;
    transform: translate3d(26rem,5rem,0);
  }
  .text, .circle {
    position: absolute;
    transform: translate3d(-14rem,0,0);
  }
  
  .circle {
    margin-left: -4rem;
    padding: 0 1rem;
    border: 1px solid #C6E4AC;
    border-radius: 50%;
    background-color: #C6E4AC;
  }
  }